# Compiled Object files
#aoc inputs:
*.txt

*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables & IDE
*.exe
*.out
*.app
*.user
cimgui/Debug/
cimgui/cimgui.opensdf
cimgui/cimgui.sdf
cimgui/cimgui.v12.suo
cimgui/Release/
.idea
.vscode
cimgui/.vs/
cimgui/x64/

# Test / Build
build/
zig-cache/
zig-out/
imgui.ini
debug/
release/
